<% include part_head %>
    <div class = "col-xs-8">
    <h2 id="team-name" class= "text-center"><%= team.team_name %></h2>
    <h2 class= "text-center"><%= total %></h2>
      <div class="list-group well">
        <% donations.forEach(function(donation){ %>
          <% include part_donation %>
        <% }) %>
      </div>
    </div>

    <div class = "col-xs-4">
      <div class="form-group">
        <label for="amount">Amount</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control" id="amount"  placeholder="$2000.00">
        </div>
      </div>
      <form id="stripe" action="/t/<%= team.team_name %>/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Ia54eQ8AhcwvO2CQnUJSWy1w"
          data-amount="0"
          data-name="Penny War"
          data-description="Charity"
          data-image="/static/img/penny.jpg">
        </script>
        <input val="0" name="price" style="display:none;">
      </form>
    </div> <!--- Close the form -->


<% include part_foot %>